
*{
	box-sizing: border-box;
	font-family: Helvetica;
	margin: 0px;
}

h1{
	text-align: center;
}


.row{
	width: 100%;
}

.content{
	margin-left: 10px;
	margin-top: 35px;
}

#container{
	background-color: grey;
	position: relative;
	padding: 0px;
	margin: 2px;
	border: solid 3px black;
}



.title{
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
	padding: 3px;
	font-size: 19px;
	border: solid 2px black;
}

#chicken{
	background-color: pink;
}

#beef{
	background-color: red;
	color: white;

}

#sushi{
	background-color: yellow;

}


/*Desktop Devices*/
@media (min-width: 992px) {
  .col-dp-1, .col-dp-2, .col-dp-3, .col-dp-4, .col-dp-5, .col-dp-6, .col-dp-7, .col-dp-8, .col-dp-9, .col-dp-10, .col-dp-11, .col-dp-12 {
    float: left;
    padding: 10px;
  }
  .col-dp-1 {
    width: 8.33%;
  }
  .col-dp-2 {
    width: 16.66%;
  }
  .col-dp-3 {
    width: 25%;
  }
  .col-dp-4 {
    width: 33.33%;
  }
  .col-dp-5 {
    width: 41.66%;
  }
  .col-dp-6 {
    width: 50%;
  }
  .col-dp-7 {
    width: 58.33%;
  }
  .col-dp-8 {
    width: 66.66%;
  }
  .col-dp-9 {
    width: 74.99%;
  }
  .col-dp-10 {
    width: 83.33%;
  }
  .col-dp-11 {
    width: 91.66%;
  }
  .col-dp-12 {
    width: 100%;
  }

}

  @media (min-width: 768px) and (max-width: 991px ) {
  	.col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left;
    padding: 10px;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }

}

  


@media (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
    float: left;
    padding: 10px;
  }
  .col-mb-1 {
    width: 8.33%;
  }
  .col-mb-2 {
    width: 16.66%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.33%;
  }
  .col-mb-5 {
    width: 41.66%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.33%;
  }
  .col-mb-8 {
    width: 66.66%;
  }
  .col-mb-9 {
    width: 74.99%;
  }
  .col-mb-10 {
    width: 83.33%;
  }
  .col-mb-11 {
    width: 91.66%;
  }
  .col-mb-12 {
    width: 100%;
  }

}
